# 100 Basic Python Tricks

Here is a list of not-obvious tips and tricks you can do in basic Python. 

The **rules** are:

- possibly one-liners
    - therefore, no functions
- no libraries, just base Python
- non-trivial or non-standard

## Numbers

Separate big numbers with `_` for readability

In [1]:
2_438_930

2438930

Do floor division using `//`

In [2]:
8 // 3

2

Get division remainder using `%`

In [3]:
8 % 3

2

Perform `floor(n / 2 ** n)` using `>>`

In [4]:
18 >> 2

4

You can chain operators. The most satisfying one is `< x <`

In [5]:
x = 3
0 < x < 4

True

## Strings

Multiply strings using `*`

In [6]:
"ciao" * 3

'ciaociaociao'

Concatenate strings using `+`

In [7]:
"Hi," + " my name is " + "Matteo"

'Hi, my name is Matteo'

Insert variables in strings using Fstrings

In [8]:
name = "Matteo"
age = 21
f"My name is {name} and my age is {age}."

'My name is Matteo and my age is 21.'

Insert and format variables in strings using Fstrings

In [9]:
f"This is a rounded number: {12.3492:.2f}"

'This is a rounded number: 12.35'

Make multi-line strings with triple quotes

In [10]:
ml_string = """This
is 
not 
an haiku"""
print(ml_string)

This
is
not
an haiku

Check alphabetical order using `>`

In [11]:
"pizza" > "pasta"

True

Search substring occurrences using `in`

In [12]:
"Ben" in "Is Ben here?"

True

Find position of substring in string with `find()`

In [13]:
"Where is Ben in this sentence?".find("Ben")

9

Replace parts of a string using `.replace()`

In [71]:
s = "Let's replace e with OMG"
s.replace("e", "OMG")

"LOMGt's rOMGplacOMG OMG with OMG"

Remove first occurrence of a substring using `replace()`

In [72]:
s = "Let's replace the first s"
s.replace("s","",1)

"Let' replace the first s"

We can play with cases using `.lower()`, `.upper()`, `.capitalize()` and `.swapcase()`

In [15]:
s = 'Hello! My name is Matteo.'
print(s.lower())
print(s.upper())
print(s.capitalize())
print(s.swapcase())

hello! my name is matteo.
HELLO! MY NAME IS MATTEO.
Hello! my name is matteo.
hELLO! mY NAME IS mATTEO.

Remove leading and trailing spaces using `strip()`

In [16]:
"   Oh some text!    ".strip()

'Oh some text!'

Remove specific leading and trailing characters using `.strip()`

In [17]:
"-+--Oh some text!   ++".strip('+-')

'Oh some text!   '

Join array of string

In [18]:
cities = ["Milan", "Turin", "Rome", "Naples"]
", ".join(cities)

'Milan, Turin, Rome, Naples'

Split a string into a list using `.split()`

In [19]:
"List of words from sentence".split(" ")

['List', 'of', 'words', 'from', 'sentence']

Use list operations on strings: iterate, slice, ...

In [20]:
for letter in "ciao":
    print(letter)

c
i
a
o

## Lists

Slice elements of a list using `beginning:end`

In [21]:
lst = ["a", "b", "c", "d", "e", "f"]
lst[3:5]

['d', 'e']

Slice elements of a list with a step using `beginning:end:step`

In [22]:
lst = ["a", "b", "c", "d", "e", "f"]
lst[1:6:2]

['b', 'd', 'f']

Append lists using `+`

In [23]:
[1,2,3] + [4] + [5,6]

[1, 2, 3, 4, 5, 6]

Select elements starting from the end using negative indexes

In [24]:
a = [1,2,3,4,5]
a[-2]

4

Reverse a list using `::-1`

In [25]:
a = [1,2,3,4,5]
a[::-1]

[5, 4, 3, 2, 1]

List comprehensions

In [26]:
[x+1 for x in range(4)]

[1, 2, 3, 4]

Loop over items and index with `enumerate`

In [27]:
todos = ['eat', 'work', 'sleep', 'repeat']
for key, value in enumerate(todos):
    print("Task", key, "is", value)

Task 0 is eat
Task 1 is work
Task 2 is sleep
Task 3 is repeat

Use zip to loop over multiple arrays

In [28]:
names = ["Annie", "Bern", "Carl"]
ages = [14, 3, 5]
for n,a in zip(names, ages):
    print(n, "is", a, "years old")

Annie is 14 years old
Bern is 3 years old
Carl is 5 years old

Use `sort()` to sort "inplace" and `sorted()` to generate a new list

In [29]:
lst = [4,1,-9,0,-2]
sorted(lst)

[-9, -2, 0, 1, 4]

Sort using functions with the `key` option

In [30]:
lst = [4,1,-9,0,-2]
sorted(lst, key=abs)

[0, 1, -2, 4, -9]

Remove elements with mutation using `remove()`

In [79]:
friends = ["Annie", "Bern", "Carl", "Dad"]
friends.remove("Dad")
print(friends)

['Annie', 'Bern', 'Carl']

Remove elements without mutation using comprehensions

In [80]:
friends = ["Annie", "Bern", "Carl", "Dad"]
[f for f in friends if f != "Dad"]

['Annie', 'Bern', 'Carl']

Remove all elements of a list (but not the list) using `del [:]`

In [1]:
trash = ["useless", "to be removed", "dangerous"]
del trash[:]
trash

[]

## Sets

Ordered unique values of a list using `set`

In [31]:
a = [2,3,2,3,4,5]
set(a)

{2, 3, 4, 5}

Get intersection of sets using `&`

In [32]:
friends = {"James", "Dean", "Lucy"}
colleagues = {"Anne", "James", "Lucy"}
friends & colleagues

{'James', 'Lucy'}

Get union of sets using `|`

In [33]:
friends = {"James", "Dean", "Lucy"}
colleagues = {"Anne", "James", "Lucy"}
friends | colleagues

{'Anne', 'Dean', 'James', 'Lucy'}

Do set difference using `-`

In [34]:
friends = {"James", "Dean", "Lucy"}
colleagues = {"Anne", "James", "Lucy"}
friends - colleagues

{'Dean'}

You can check if a set is a subset of another set with `.issubset()`

In [70]:
parents = {"Mom", "Dad"}
relatives = {"Mom", "Dad", "Brother", "Aunt"}
parents.issubset(relatives)

True

## Dictionaries

Remove element by key using del

In [67]:
d = {"apples": 3, "pears": 1, "oranges": 5}
del d["apples"]
d

{'pears': 1, 'oranges': 5}

Generate dictionaries using comprehensions

In [35]:
{f"Squared of {x}": x**2 for x in range(5)}

{'Squared of 0': 0,
 'Squared of 1': 1,
 'Squared of 2': 4,
 'Squared of 3': 9,
 'Squared of 4': 16}

Iterate over both keys and values using `.items()`

In [36]:
d = {"apples": 3, "pears": 1, "oranges": 5}
for key, value in d.items():
    print(f"I have {value} {key}")

I have 3 apples
I have 1 pears
I have 5 oranges

`get` function to avoid if/else with dictionaries

In [37]:
d = {"apples": 3, "pears": 1, "oranges": 5}
d.get("bananas", 0)

0

Merge dictionaries using `|`

In [38]:
some_info = {"name": "Matteo", "age": 22}
more_info = {"name": "Matteo", "male": True}
some_info | more_info

{'name': 'Matteo', 'age': 22, 'male': True}

Find index of element in list/tuple using `index`

In [39]:
["sole", "cuore", "amore"].index("cuore")

1

Count elements that satisfy a condition using `.count()`

In [40]:
["a", "l", "l", "i", "g", "a", "t", "o", "r"].count("a")

2

Make a dictionary from two lists using `zip()`

In [41]:
name = ["Al", "John", "Jack"]
age = [33,29,34]
dict(zip(name, age))

{'Al': 33, 'John': 29, 'Jack': 34}

Sort dictionaries by keys using `sorted()`

In [42]:
d = {"apples": 3, "pears": 1, "oranges": 5, "bananas": 2}
sorted(d)

['apples', 'bananas', 'oranges', 'pears']

Sort dictionaries by values combining `sorted()` and `.get()`

In [43]:
d = {"apples": 3, "pears": 1, "oranges": 5, "bananas": 2}
sorted(d, key=d.get)

['pears', 'bananas', 'apples', 'oranges']

## Logic

Negate using `not`

In [44]:
not (4 > 2)

False

Conditional assignment

In [45]:
x = 10 if (3 > 4) else 20
x

20

Condition inside a print function

In [46]:
number = -4
print("Positive" if number > 0 else "Negative")

Negative

Condition inside a comprehension

In [47]:
[x for x in range(10) if x%2==0]

[0, 2, 4, 6, 8]

Check if any element of boolean array is true using `any`

In [48]:
any([1>3, False, False, 3>1])

True

Assign value in a statement using `:=`

In [49]:
if (n:= 1.2**5 > 2):
    print(n)

True

## Variables

Multiple assignment

In [53]:
a, b = [1,2]
print(a, b)

1 2

Variable assignment using `*`

In [54]:
a, *b = [1,2,3,4]
print(b)

[2, 3, 4]

Null variable assignment with `_`

In [55]:
a, _, c, d = [1,2,3,4]
print(a, c, d)

1 3 4

Swap variables

In [56]:
a, b = [1,2]
b, a = a, b
print(a, b)

2 1

Check if a variable exists, in locals or globals

In [57]:
print('weird_variable' in locals())
print('weird_variable' in globals())

False
False

Check variable type using `type`

In [58]:
type(1)

int

Convert string to number using `int` or `float`

In [59]:
float("12.3")

12.3

Print in the same line using `end=""`

In [60]:
for i in range(10):
   print(i, end="")

0123456789

Overwrite printing using `end="\r"`

In [61]:
for i in range(10):
   print(i, end="\r")

## Combinations

Intersect two strings using `set` and `&`

In [50]:
set("ciao") & set("mano")

{'a', 'o'}

Get most frequent value using `max` and `count`

In [90]:
lst = [2,3,4,5,3,2,2,1]
max(lst, key=lst.count)

2

Get argmax using `max` and `zip`

In [52]:
numbers = [12, 34, 22, 1, 90, 34]
max(zip(numbers, range(len(numbers))))[1]

4

Find index of nth element in list that satisfies condition using `enumerate` and comprehensions

In [99]:
todos = ['eat', 'work', 'sleep', 'repeat']
[i for i,l in enumerate(todos) if len(l)>4][0]

2

Sort a dictionary using `sorted` and a lambda function

In [5]:
d = {"apples": 3, "pears": 1, "oranges": 5, "bananas": 2}
dict(sorted(d.items(), key=lambda item: item[1]))

{'pears': 1, 'bananas': 2, 'apples': 3, 'oranges': 5}

## Sources

- https://sahandsaba.com/thirty-python-language-features-and-tricks-you-may-not-know.html
- https://towardsdatascience.com/100-helpful-python-tips-you-can-learn-before-finishing-your-morning-coffee-eb9c39e68958