# 100 Basic Python Tricks

Here is a list of not-obvious tips and tricks you can do in basic Python. No libriaries involved!

## Numbers

Separate big numbers with `_` for readability

In [104]:
2_438_930

2438930

Do floor division using `//`

In [2]:
8 // 3

2

Get division remainder using `%`

In [1]:
8 % 3

2

Perform `floor(n / 2 ** n)` using `>>`

In [167]:
18 >> 2

4

You can chain operators. The most satisfying one is `< x <`

In [175]:
x = 3
0 < x < 4

True

## Strings

Multiply strings using `*`

In [7]:
"ciao" * 3

'ciaociaociao'

Concatenate strings using `+`

In [112]:
"Hi," + " my name is " + "Matteo"

'Hi, my name is Matteo'

Insert variables in strings using Fstrings

In [107]:
name = "Matteo"
age = 21
f"My name is {name} and my age is {age}."

'My name is Matteo and my age is 21.'

Insert and format variables in strings using Fstrings

In [222]:
f"This is a rounded number: {12.3492:.2f}"

'This is a rounded number: 12.35'

Make multi-line strings with triple quotes

In [224]:
ml_string = """This
is 
not 
an haiku"""
print(ml_string)

This
is
not
an haiku

Check alphabetical order using `>`

In [119]:
"pizza" > "pasta"

True

Search substring occurrences using `in`

In [217]:
"Ben" in "Is Ben here?"

True

Find position of substring in string with `find()`

In [125]:
"Where is Ben in this sentence?".find("Ben")

9

Replace parts of a string using `.replace()`

In [139]:
"Let's replace e with OMG".replace("e", "OMG")

"LOMGt's rOMGplacOMG OMG with OMG"

We can play with cases using `.lower()`, `.upper()`, `.capitalize()` and `.swapcase()`

In [143]:
s = 'Hello! My name is Matteo.'
print(s.lower())
print(s.upper())
print(s.capitalize())
print(s.swapcase())

hello! my name is matteo.
HELLO! MY NAME IS MATTEO.
Hello! my name is matteo.
hELLO! mY NAME IS mATTEO.

Remove leading and trailing spaces using `strip()`

In [123]:
"   Oh some text!    ".strip()

'Oh some text!'

Join array of string

In [177]:
cities = ["Milan", "Turin", "Rome", "Naples"]
", ".join(cities)

'Milan, Turin, Rome, Naples'

Split a string into a list using `.split()`

In [178]:
"List of words from sentence".split(" ")

['List', 'of', 'words', 'from', 'sentence']

## Lists

Slice elements of a list using `beginning:end`

In [190]:
lst = ["a", "b", "c", "d", "e", "f"]
lst[3:5]

['d', 'e']

Slice elements of a list with a step using `beginning:end:step`

In [195]:
lst = ["a", "b", "c", "d", "e", "f"]
lst[1:6:2]

['b', 'd', 'f']

Append lists using `+`

In [105]:
[1,2,3] + [4] + [5,6]

[1, 2, 3, 4, 5, 6]

Select elements starting from the end using negative indexes

In [124]:
a = [1,2,3,4,5]
a[-2]

4

Reverse a list using `::-1`

In [4]:
a = [1,2,3,4,5]
a[::-1]

[5, 4, 3, 2, 1]

List comprehensions

In [5]:
[x+1 for x in range(4)]

[1, 2, 3, 4]

Loop over items and index with `enumerate`

In [35]:
for key, value in enumerate(["ciao", "hi"]):
    print("Element", key, "is", value)

Element 0 is ciao
Element 1 is hi

Use zip to loop over multiple arrays

In [41]:
names = ["annie", "bern", "carl"]
ages = [14, 3, 5]
for n,a in zip(names, ages):
    print(n, "is", a, "years old")

annie is 14 years old
bern is 3 years old
carl is 5 years old

## Sets

Ordered unique values of a list using `set`

In [6]:
a = [2,3,2,3,4,5]
set(a)

{2, 3, 4, 5}

Use `sort()` to sort "inplace" and `sorted()` to generate a new list

In [138]:
sorted([4,1,-9,0])

[-9, 0, 1, 4]

## Dictionaries

Generate dictionaries using comprehensions

In [206]:
{f"Squared of {x}": x**2 for x in range(5)}

{'Squared of 0': 0,
 'Squared of 1': 1,
 'Squared of 2': 4,
 'Squared of 3': 9,
 'Squared of 4': 16}

Iterate over both keys and values using `.items()`

In [201]:
d = {"apples": 3, "pears": 1, "oranges": 5}
for key, value in d.items():
    print(f"I have {value} {key}")

I have 3 apples
I have 1 pears
I have 5 oranges

`get` function to avoid if/else with dictionaries

In [87]:
d = {"apples": 3, "pears": 1, "oranges": 5}
d.get("bananas", 0)

0

Merge dictionaries using `|`

In [146]:
some_info = {"name": "Matteo", "age": 22}
more_info = {"name": "Matteo", "male": True}
some_info | more_info

{'name': 'Matteo', 'age': 22, 'male': True}

Find index of element in list/tuple using `index`

In [97]:
["sole", "cuore", "amore"].index("cuore")

1

Count elements that satisfy a condition using `.count()`

In [127]:
["a", "l", "l", "i", "g", "a", "t", "o", "r"].count("a")

2

Make a dictionary from two lists using `zip()`

In [147]:
name = ["Al", "John", "Jack"]
age = [33,29,34]
dict(zip(name, age))

{'Al': 33, 'John': 29, 'Jack': 34}

## Logic

Negate using `not`

In [103]:
not (4 > 2)

False

Conditional assignment

In [108]:
x = 10 if (3 > 4) else 20
x

20

Condition inside a print function

In [130]:
number = -4
print("Positive" if number > 0 else "Negative")

Negative

Condition inside a comprehension

In [131]:
[x for x in range(10) if x%2==0]

[0, 2, 4, 6, 8]

Check if any element of boolean array is true using `any`

In [134]:
any([1>3, False, False, 3>1])

True

Assign value in a statement using `:=`

In [173]:
if (n:= 1.2**5 > 2):
    print(n)

True

## Lambdas

Use lambdas for non-trivial sorting

In [73]:
lst = [[2, 7], [7, 3], [3, 8], [8, 7], [9, 7], [4, 9]]
lst.sort(key = lambda inner:inner[1])
lst

[[7, 3], [2, 7], [8, 7], [9, 7], [3, 8], [4, 9]]

## Other

Multiple assignment

In [38]:
a, b = [1,2]
print(a, b)

1 2

Variable assignment using `*`

In [179]:
a, *b = [1,2,3,4]
print(b)

[2, 3, 4]

Null variable assignment with `_`

In [156]:
a, _, c, d = [1,2,3,4]
print(a, c, d)

1 3 4

Check if a variable exists, in locals or globals

In [158]:
print('weird_variable' in locals())
print('weird_variable' in globals())

False
False

Check variable type using `type`

In [159]:
type(1)

int

Get most frequent value using `set` and `count`

In [182]:
lst = [2,3,4,5,3,2,2,1]
print(max(set(lst), key=lst.count))

2

Convert string to number using `int` or `float`

In [188]:
float("12.3")

12.3

## Combinations

You can the intersection of two strings using `set` and `&`

In [215]:
set("ciao") & set("mano")

{'a', 'o'}

## Sources

- https://sahandsaba.com/thirty-python-language-features-and-tricks-you-may-not-know.html
- https://towardsdatascience.com/100-helpful-python-tips-you-can-learn-before-finishing-your-morning-coffee-eb9c39e68958